@model List<Data.FormField>

<div class="app-summary-card__body">
    <dl class="govuk-summary-list">
        @foreach (var field in Model)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @field.Title
                </dt>
                <dd class="govuk-summary-list__value">
                    @field.Value
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
        }
    </dl>
</div>