@page "/project/{urn}/date-history"
@using Dfe.Academisation.ExtensionMethods
@using Dfe.PrepareTransfers.Helpers
@using Dfe.PrepareTransfers.Data.Models.AdvisoryBoardDecision

@model Dfe.PrepareTransfers.Web.Pages.TaskList.DateHistory.DateHistory

@{
    ViewBag.Title = "Transfer date history";
    Layout = "_Layout";
}

@section BeforeMain
{   
}
<partial name="_IncomingTrustHeading" model="@Model.Project" />

<div class="govuk-grid-column-full">
    <partial name="_SubMenu" />
</div>
<div class="govuk-!-margin-bottom-12">
    <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Transfer date history</h2>
    <p class="govuk-body">The proposed transfer date has not been entered yet. When it has been it will be displayed here.</p>
    <p class="govuk-body">Any future changes to the proposed transfer date will also be shown here.</p>
</div>
