@model Frontend.Models.HeadTeacherBoardPreviewViewModel

@{
    ViewBag.Title = "Preview HTB Template";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Preview HTB Template</h1>
        @* <h2 class="govuk-heading-l">@Model.Project.TransferringAcademies[0].AcademyName</h2> *@
        @await Html.PartialAsync(
            "_FormFieldSummaryCardBody",
            Model.OutgoingAcademy.GeneralInformation.FieldsToDisplay(),
            new ViewDataDictionary(ViewData) {{"SectionTitle", "Academy performance"}})
        @await Html.PartialAsync(
            "_FormFieldSummaryCardBody",
            Model.OutgoingAcademy.PupilNumbers.FieldsToDisplay(),
            new ViewDataDictionary(ViewData) {{"SectionTitle", "Pupil numbers"}})
        <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" asp-action="Download" asp-route-id="@Model.Project.Urn">
            Download HTB Templates
        </a>
    </div>
</div>