@page
@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Accessibility statement for the Manage an academy transfer website";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Accessibility statement 
		</h1>

		<p class="govuk-body-m">
			This accessibility statement applies to Prepare conversions and transfers. 
		</p>
		<p class="govuk-body-m">
			This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to: 
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>change colours, contrast levels and fonts</li>
			<li>zoom in up to 300% without the text spilling off the screen</li>
			<li>navigate most of the service using just a keyboard</li>
			<li>navigate most of the service using speech recognition software</li>
			<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
		</ul>
		<p class="govuk-body-m">
			We've also made the website text as simple as possible to understand.
		</p>
		<p class="govuk-body-m">
			<a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability. 
		</p>

		<h2 class="govuk-heading-l">Feedback and contact information </h2>
		<p class="govuk-body">
			If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille: 
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				email <a class="govuk-link" href="mailto:@_configuration["SupportEmail"]?subject=Prepare%20conversions%20and%20transfers:%20support%20query">@_configuration["SupportEmail"]</a>
			</li>
			<li>call 0370 000 2288 </li>
		</ul>
		<p class="govuk-body">
			We'll consider your request and get back to you in 2 working days.  
		</p>

		<h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
		<p class="govuk-body">
			We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email us at: <a class="govuk-link" href="mailto:@_configuration["SupportEmail"]?subject=Prepare%20conversions%20and%20transfers:%20support%20query">@_configuration["SupportEmail"]</a>.
		</p>

		<h2 class="govuk-heading-l">Enforcement procedure</h2>
		<p class="govuk-body">
			The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, 
			<a class="govuk-link" target="_blank" href="https://www.equalityadvisoryservice.com/">
				contact the Equality Advisory and Support Service (EASS) (opens in new tab)
			</a>.
		</p>

		<h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
		<p class="govuk-body">
			The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
		</p>

		<h2 class="govuk-heading-l">Compliance status</h2>
		<p class="govuk-body">
			This website is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard, due to the following non-compliances and exemptions.
		</p>

		<h3 class="govuk-heading-m">Non-accessible content </h3>
		<p class="govuk-body">
			The content is non-accessible for the following reason(s): 
		</p>
		<h4 class="govuk-heading-s">
		Non-compliance with the accessibility regulations
		</h4>
		<ul class="govuk-list govuk-list--bullet">
			<li>main headings on some pages are contained within groups of elements and so may not be read out correctly by some screen readers. This fails WCAG 2.1 AA success criteria 2.4.6 (Headings and Labels) </li>
			<li>error summaries and messages do not appear for all mistakes users make on certain conversions project pages. This fails WCAG 2.1 A success criteria 3.3.1 (Error Identification) </li>
			<li>only an error summary appears and no error message when users experience an error on certain transfers project pages. This fails WCAG 2.1 A success criteria 3.3.2 (Labels or Instructions)</li>
		</ul>

		<h4 class="govuk-heading-s">
			Disproportionate burden
		</h4>
		<p class="govuk-body">
			We have determined that there is disproportionate burden to meet all the requirements. Making improvements would leave us unable to provide a minimum viable product (MVP). We will meet the requirements as soon as we can. 
		</p>
		<h4 class="govuk-heading-s">
			The content is not within the scope of this accessibility statement
		</h4>
		<ul class="govuk-list govuk-list--bullet">
			<li>data that is populated into our website from <a class="govuk-link" href="https://apply-convert-academy.service.gov.uk/">Apply to become an academy</a> and other Department for Education websites </li>
			<li>content hosted on other Department for Education websites, such as <a class="govuk-link" href="https://apply-convert-academy.service.gov.uk/">Apply to become an academy</a></li>
		</ul>


		<h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
		<p class="govuk-body">
			We are looking into the non-compliances mentioned previously and aim to resolve these in a future iteration of the website. 
		</p>
		
		<h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
		<p class="govuk-body">
			This statement was prepared on 19 August 2022. It was last reviewed on 14 December 2022.
		</p>
		<p class="govuk-body">
			This website was last tested on 26 April 2022. The test was carried out by a Senior Accessibility Advisor at the Department for Education. 
		</p>
		<p class="govuk-body">
			We used this approach to deciding on a sample of pages to test: <a class="govuk-link" href="https://docs.google.com/presentation/d/1jBLCXNLE-hAu7MwQxRHfU10o4vG74bUj/edit#slide=id.p1">testing your product with an accessibility expert - Google Slides</a>.  
		</p>
    </div>
</div>