@page
@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Maintenance page";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This page has moved</h1>
        <p class="govuk-body">The page you are looking for has been moved to a new location. Please update your bookmarks.</p>
        <a href="@($"{Links.ConversionsUrl}transfers/home")" class="govuk-button">Go to the new page</a>
    </div>
</div>