@page "/session-timed-out"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.SessionTimedOut

@{
    ViewData["Title"] = "For your security we signed you out";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">For your security, we signed you out</h1>
        <p class="govuk-body">
            This is because you have not saved your answers in @(Model.MinutesTimeOut >= 60 ? "the last hour" : Model.MinutesTimeOut + " minutes").
        </p>
        <p class="govuk-body">
            We did not save your answers.
        </p>
        <form asp-page="/Home/Index" method="get">
            @if (!string.IsNullOrWhiteSpace(Model.ReturnUrl))
            {
                <input type="hidden" name="returnurl" value="@Model.ReturnUrl"/>
            }
            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>
        </form>
    </div>
</div>