environment               = ""
tfvars_filename            = ""
project_name              = ""
azure_location            = "westeurope"
image_name                = ""

enable_container_registry = true
enable_mssql_database     = false
enable_cdn_frontdoor      = true

virtual_network_address_space = ""

container_command = ["/bin/bash", "-c", "./docker-entrypoint.sh dotnet Dfe.PrepareTransfers.Web.dll"]

container_secret_environment_variables = {
  "TramsApi__Endpoint"        = ""
  "TramsApi__ApiKey"          = ""
  "AcademisationApi__BaseUrl" = ""
  "AcademisationApi__ApiKey"  = ""
  "ServiceLink__TransfersUrl" = ""
  "FeedbackLink"              = ""
  "SupportEmail"              = ""
  "AzureAd__ClientSecret"     = ""
  "AzureAd__ClientId"         = ""
  "AzureAd__TenantId"         = ""
  "AzureAd__GroupId"          = ""
  "CypressTestSecret"         = ""
  "GoogleAnalytics__Enable"   = ""
  "ASPNETCORE_ENVIRONMENT"    = ""
}

key_vault_access_users = [
  "someone_example.com#EXT#@tenantname.onmicrosoft.com",
]

tags = {
  "Key" = "Value"
}