@page

@{
    ViewData["Title"] = "Accessibility statement for the Manage an Academy Transfer website";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement for the Manage an Academy Transfer website</h1>
        <p class="govuk-body">This statement was prepared on 15 September 2021.</p>
        <p class="govuk-body">
            We have developed the ‘manage an academy transfer’ service to be accessible and easy to use for everyone.
            We have aimed to achieve and maintain to the
            <a href="https://www.w3.org/TR/WCAG21/" target="_blank" class="govuk-link">
                Worldwide Web Consortium’s (W3C) Web Content Accessibility Guidelines 2.1 (WCAG.2.1)
            </a> Level AA standard.
        </p>
        <p class="govuk-body">
            The Department for Education is committed to making its digital services accessible, in accordance with the
            Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p class="govuk-body">
            We have tested the service cross multiple browsers and devices –
            <a href="https://updatemybrowser.org" target="_blank" class="govuk-link">
                check you’ve installed the latest updates to your browser
            </a> to get the best user experience.
        </p>
        <p class="govuk-body">
            DfE’s accessibility lead fully accessibility tested the service in September 2021. They used the software
            Jaws 2018, SuperNova v18, Zoomtext 2019 and Dragon NaturallySpeaking V15.4.
        </p>
        <h2 class="govuk-heading-l">How accessible this website is</h2>
        <p class="govuk-body">
            We know some parts of this website are not fully accessible:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p class="govuk-body">some primary button labels are not consistent, but have been defined based on user research</p>
            </li>
            <li>
                <p class="govuk-body">on some pages the main heading may not be read out correctly using some screen readers.
                    This is a known issue with the gds pattern for example where the heading is placed within a group of elements such as when 
                    a radio button is displayed and the question is also the heading.</p>
            </li>
        </ul>
        <h2 class="govuk-heading-l">Reporting accessibility problems</h2>
        <p class="govuk-body">
            If you encounter an issue or if you think we’re not meeting accessibility requirements, please email
            <a href="mailto:academytransfers.support@education.gov.uk" class="govuk-link">AcademyTransfers.SUPPORT@education.gov.uk</a>
            with 'Accessibility issues' in the subject line of the email.
        </p>
        <h2 class="govuk-heading-l">Enforcement procedure</h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
            If you’re not happy with how we respond to your complaint,
            <a href="https://www.equalityadvisoryservice.com" target="_blank" class="govuk-link">
                contact the Equality Advisory and Support Service (EASS).
            </a>
        </p>
        <h2 class="govuk-heading-l">Contacting us by phone</h2>
        <p class="govuk-body">
            If you are having problems using this service and you need help,
            call the Department for Education on 0370 000 2288.
        </p>
    </div>
</div>