@page

@{
    ViewData["Title"] = "Accessibility statement for the Manage an academy transfer website";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Accessibility statement for the Manage an academy transfer service</h1>
        <p class="govuk-body">
            The Manage an academy transfer service is run by the Service Design and Delivery team at
            the Department for Education (DfE).
        </p>
        <p class="govuk-body">
            We're committed to enabling you to use this service.<br>
            It's designed so that you can:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the service using just a keyboard</li>
            <li>navigate most of the service using speech recognition software</li>
            <li>listen to most of the content on the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a>
            has advice on making your device easier to use if you have a disability.
        </p>
        <h2 class="govuk-heading-m">How accessible the website is</h2>
        <p class="govuk-body">
            We know some parts of this website are not fully accessible:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
            <li>
                <p class="govuk-body">some primary button labels are not consistent, but have been defined based on user research</p>
            </li>
            <li>
                <p class="govuk-body">
                    on some pages the main heading may not be read out correctly using some screen readers.
                    This is a known issue with the GOV.UK design system `question pages` pattern. For example, where the heading is placed within a group of elements, such as when
                    a radio button is displayed and the question is the heading
                </p>
            </li>
        </ul>
        <h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>
        <p class="govuk-body govuk-!-margin-bottom-7">
            We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email us at:
            <a href="mailto:ServiceDelivery.RDD@education.gov.uk" class="govuk-link">servicedelivery.rdd@education.gov.uk</a>. Enter 'Accessibility issues' in the subject line of the email.
        </p>
        <h3 class="govuk-heading-m">How to request content in an accessible format</h3>
        <p class="govuk-body">
            If you need information in a different format <a href="mailto:ServiceDelivery.RDD@education.gov.uk" class="govuk-link">contact us</a> and tell us:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
            <li>the web address (URL) of the content</li>
            <li>your name and email address</li>
            <li>the format you need, for example, audio CD, braille, BSL or large print, accessible PDF</li>
        </ul>
        <h3 class="govuk-heading-m">Enforcement procedure</h3>
        <p class="govuk-body govuk-!-margin-bottom-7">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
            If you’re not happy with how we respond to your complaint,
            <a href="https://www.equalityadvisoryservice.com" target="_blank" class="govuk-link">
                contact the Equality Advisory and Support Service (EASS) (opens in new tab).
            </a>
        </p>
        <h2 class="govuk-heading-l">Contacting us by phone</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">
            If you are having problems using this service and you need help,
            call the Department for Education on 0370 000 2288.
        </p>
        <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">
            The Department of Education (DfE) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <h3 class="govuk-heading-m">Compliance status</h3>
        <p class="govuk-body govuk-!-margin-bottom-7">
            This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed.
        </p>
        <h2 class="govuk-heading-l">Non-accessible content</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">The content listed is non-accessible for the following reasons.</p>
        <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
        <p class="govuk-body">
            Main headings on some pages are contained within groups of elements and so may not be read out correctly by some screen reader software.
            This fails WCAG 2.1 AA success criteria 2.4.6 (Headings and Labels).
        </p>
        <p class="govuk-body">
            Some labelling on primary action buttons are not consistent. The labels were selected to give users a better description of the purpose of the action based on user research.
            This fails WCAG 2.1 AA success criteria 3.2.4 (Consistent Identification).
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            We are looking into the two issues mentioned previously and aim to resolve these in a future iteration of the service.
        </p>

        <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
        <p class="govuk-body">This statement was prepared on 20 September 2021. It was last reviewed on 20 September 2021.</p>
        <p class="govuk-body">This website was last tested on 27 August 2021. The test was carried out by the Department for Education.</p>
    </div>
</div>