@model string
@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            @Model
        </p>
    </div>
</div>
