@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LinkItem

@{ LinkItem link = (Links.FindByPageName(Context.Request.Query["bl"]) ?? Model).OverrideFrom(Context.Request.Query); }

<a asp-page="@link.PageName" asp-route-urn="@link.Urn" class="govuk-back-link">@link.BackText</a>