@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MarkSectionCompletedViewModel
<form method="post">
    @if (Model.ShowIsCompleted)
    {
        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input asp-for="IsCompleted" class="govuk-checkboxes__input" type="checkbox" data-test="mark-section-complete">
                    <label asp-for="IsCompleted" class="govuk-label govuk-checkboxes__label">
                        Mark this section as complete, you can still make changes later
                    </label>
                </div>
            </div>
        </div>
    }
    <button class="govuk-button govuk-!-margin-top-6" type="submit">Confirm and continue</button>
</form>