@page "/project/{urn}/general-information"
@model Frontend.Pages.Projects.GeneralInformation.Index

@{
    ViewBag.Title = "General Information (reference)";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Projects/Index" asp-route-urn="@Model.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">General information</h1>
        <div class="govuk-inset-text">
            The information here can’t be changed but you will be able to edit the project template after it’s been created.
        </div>
        <p class="govuk-body">This information is taken from the Get Information about Schools service and Knowledge and Information Management (KIM).</p>
    </div>
    <div class="govuk-grid-column-full">
        <partial name="_GeneralInformation" model="Model"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-page="/Projects/Index" asp-route-urn="@Model.Urn" method="get">
            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
        </form>
    </div>
</div>