@page "/project/{urn}/rationale"
@model Frontend.Pages.Projects.Rationale.Index

@{
    ViewBag.Title = "Provide the rational for the transfer";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Provide the rational for the transfer
        </h1>
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial for="@Model" name="_RationaleSummary" />
        <form asp-controller="Project" asp-action="Index" asp-route-id="@Model.Urn">
            <button class="govuk-button govuk-!-margin-top-6">Confirm and continue</button>
        </form>
    </div>
</div>