/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
$govuk-new-link-styles: true;
@import "../../node_modules/govuk-frontend/govuk/all.scss";
@import "../../node_modules/@ministryofjustice/frontend/moj/all.scss";
@import "summary-card";
@import "application-card";
@import "attachment";

.dfe-inline-block {
  display: inline-block;
}

.dfe-dashboard-project-right {
  text-align: right;
}

.dfe-empty-tag {
  display: inline-block;
  border: 2px solid;
  outline-offset: -2px;
  color: #505a5f;
  background-color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  padding: 3px 8px;
  margin-right: 8px;
}

.dfe-text-area-display {
  white-space: pre-wrap;
}

.moj-task-list__task-name {
  float: left;
  width: auto;
}

.moj-task-list__item .govuk-tag {
  float: right;
}

//When users cannot change values in the summary list and when there is only two items in the summary row, use 50% width to space out the content

.dfe-summary-list__key--width-50,
.dfe-summary-list__value--width-50 {
  @include govuk-media-query($from: tablet) {
    width: 50%;
  }
}

.dfe-summary-list__value--width-50:last-child {
  @include govuk-media-query($from: tablet) {
    width: 50%;
  }
}

aside.app-related-items {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.not-visible {
  display:none;
  visibility:hidden
}

abbr {
  text-decoration: none;
  cursor: help;
}

.prepare-text-align-right {
    text-align: right !important;
}

.app-\!-width-one-fifth {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 20% !important;
	}
}
.app-\!-width-two-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 40% !important;
	}
}
.app-\!-width-three-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 60% !important;
	}
}
.app-\!-width-four-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 80% !important;
	}
}

/* Fitlering Styling */

.prepare-text-align-right {
	text-align: right !important;
}

.prepare-project-listing__filters-container {
	margin-bottom: 0;
}

.prepare-project-listing__filters-details {
	background-color: #f3f2f1;
	padding: 1rem;
	clear: both;
	margin-bottom: 2em;
	border-left: 0;
}

.prepare-project-listing__fitlers-details-summary:before {
	content: none;
}

.prepare-project-listing__fitlers-details-summary {
	padding-left: 0;
	margin-top: 1em;
}

.prepare-project-listing__button--main {
	margin-bottom: 1em;
	text-decoration: none;
}

.prepare-project-listing__filter {
	background-color: govuk-colour("white");
	overflow-y: auto;
	height: 200px;
}

.prepare-project-listing__conditional {
	border: 0;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
}

.prepare-project-listing__button--apply {
	background-color: govuk-colour("black");
	color: govuk-colour("white");
}

.prepare-project-listing__button--apply:hover {
	background-color: govuk-colour("light-grey");
}