@page "/access-denied"
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access denied";
}

<h1 class="govuk-heading-l">You do not have permission to access this service</h1>
<p class="govuk-body">For more information or access, please contact the Prepare for Advisory Board team.</p>