@page "access-denied"
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access denied";
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>
<h2>You do not have access</h2>