@page
@model Frontend.Areas.MicrosoftIdentity.Pages.Account.SignedOut

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Signed Out
</div>
</body>
</html>