@page "/signed-out"
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Signed out";
}

<h1 class="govuk-heading-l">Signed out</h1>
<p class="govuk-body-m">You're signed out of Manage an academy transfer</p>