@page
@model Dfe.PrepareTransfers.Web.Pages.Errors.IndexModel
@{
	ViewBag.Title = "Error";
	Layout = "_Layout";
}
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration


<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-l" id="error-heading">@Model.ErrorMessage</h1>
				<p class="govuk-body">
                    A fault has stopped us from doing what you asked. It might work next time if you try again.
				</p>
				<p class="govuk-body">
               Email the Prepare conversions and transfers team at <a href="mailto:@_configuration["SupportEmail"]?subject=Prepare%20conversions%20and%20transfers:%20support%20query" class="govuk-link">@_configuration["SupportEmail"]</a> if this error continues.
				</p>
			</div>
		</div>
	</main>
</div>