@page "/home/login/{handler?}"
@model Frontend.Pages.Home.Login
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}
<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="_Notification"/>
        <h1 class="govuk-heading-xl">Sign in to your DfE account</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Sign in</h2>
        @ViewData["Config"]

        <span asp-gds-validation-for="LoginViewModel.Username"></span>
        <span asp-gds-validation-for="LoginViewModel.Password"></span>

        <form method="post">
            <input type="hidden" value="@Model.ReturnUrl" name="returnUrl"/>
            <div class="govuk-form-group">
                <label class="govuk-label" for="username">
                    Username
                </label>
                <span id="username-hint" class="govuk-hint">
                    Sign in using your username
                </span>
                <input class="govuk-input" asp-for="LoginViewModel.Username" type="text" aria-describedby="username-hint" data-test="username">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Password
                </label>
                <span id="email-hint" class="govuk-hint">
                    Sign in using your previously created password
                </span>
                <input class="govuk-input" asp-for="LoginViewModel.Password" type="password" autocomplete="off" aria-describedby="email-hint" data-test="password">
            </div>
            <button type="submit" class="govuk-button govuk-button--primary">Sign in</button>
        </form>
    </div>
</div>