@{
    ViewBag.Title = "k";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a class="govuk-link" asp-action="DownloadDocument" rel="nofollow" target="_blank">Download document</a>
    </div>
</div>