@{
    ViewData["Title"] = "Home Page";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Heading!</h1>
        <p class="govuk-body">The dashboard goes here</p>
    </div>
</div>