@model Frontend.Views.Home.Index

@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Academy transfers projects</h1>
        <p class="govuk-body">Set up new academy transfer project</p>
        <a asp-controller="Transfers" asp-action="TrustName" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start a new transfer project
        </a>
        <h2 class="govuk-heading-l">Pre-HTB (@Model.Projects.Count)</h2>
        @foreach (var project in Model.Projects)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">
                        <a class="govuk-link govuk-link--no-visited-state" asp-controller="Project" asp-action="Index" asp-route-id="@project.Urn">
                            Outgoing academy name
                        </a> <span class="govuk-caption-m dfe-inline-block">@project.Number</span>
                    </h3>
                    <p class="govuk-body govuk-!-margin-bottom-1">Application to join Incoming Academy</p>
                    <p class="govuk-body-s">Local authority</p>
                </div>
                <div class="govuk-grid-column-one-third dfe-dashboard-project-right">
                    <span class="govuk-tag govuk-tag--purple">PRE HTB</span>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0"/>
        }
    </div>
</div>