@model Frontend.Models.LatestOfstedJudgementViewModel

@{
    ViewBag.Title = "Latest Ofsted judgement (reference)";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-m">
            URN @Model.Project.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">Latest Ofsted judgement</h1>
        <h2 class="govuk-heading-m">
            Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">@Model.Project.OutgoingTrustName</span>
        </h2>
        <p class="govuk-body">This information is pre-populated from TRAMS and the school's application form</p>
        <partial name="_FormFieldSummaryList" model="Model.Academy.LatestOfstedJudgement.FieldsToDisplay()" />
    </div>
    <partial name="_AdditionalInformation" model="Model.AdditionalInformationModel" />
</div>
@if (!Model.AdditionalInformationModel.AddOrEditAdditionalInformation)
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-controller="Project" asp-route-id="@Model.Project.Urn">
            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
        </form>
    </div>
</div>
}
