@model Frontend.Views.Transfers.ProjectFeatures

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Project features</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Created project GUID: @Model.ProjectId</p>
    </div>
</div>