@model Frontend.Views.Transfers.TrustSearch 

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Select an incoming trust</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @foreach (var trust in Model.Trusts)
        {
            <h2 class="govuk-heading-s">
                <a class="govuk-link" asp-action="IncomingTrustDetails" asp-route-trustId="@trust.Id">
                    @trust.TrustName (@trust.TrustReferenceNumber)
                </a>
            </h2>
            <p class="govuk-body">Companies House number: @trust.CompaniesHouseNumber</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        }
    </div>
</div>