@using Dfe.PrepareTransfers.Helpers
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.Projects.LatestOfstedJudgement.Index

@if (Model.LatestOfstedJudgement.LatestInspectionIsSection8)
{
    <h2 class="govuk-heading-m">Short inspection</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <gds-key-value key="Oftsed inspection date" value="@DatesHelper.DateStringToGovUkDate(Model.LatestOfstedJudgement.DateOfLatestSection8Inspection)" show-action="@Model.IsPreview" />
    </dl>
}

<h2 class="govuk-heading-m">Last full inspection: @Model.LatestOfstedJudgement.OverallEffectiveness</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <partial name="/Pages/Shared/OfstedSummary/_SummaryRows.cshtml" for="@Model"></partial>
</dl>