@page "/task-list/{urn}/decision/decision-maker"
@using Dfe.PrepareTransfers.Extensions
@using Dfe.PrepareTransfers.TagHelpers
@model Dfe.PrepareTransfers.Pages.TaskList.Decision.DecisionMaker
@{
   ViewData["Title"] = $"Decision maker's name";
   Layout = "_Layout";
}

@section BeforeMain
{
   <partial name="_BackLink" model="@Model.BackLinkModel"/> 
   <partial name="_ErrorSummary"/>
}

<span id="selection-span" class="govuk-caption-l">Record the decision</span>
<h1 class="govuk-heading-l">Decision maker's name</h1>

<form method="post">
   <div class="govuk-form-group @ModelState.GetErrorStyleClass()">
        <label class="govuk-hint" for="decision-maker-name">
            Enter the name of the person who made the decision
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="decision-maker-name" name="decision-maker-name" type="text" value="@Model.DecisionMakerName">
   </div>


   <button class="govuk-button" data-module="govuk-button" id="submit-btn">
      Continue
   </button>
</form>