@using Frontend.Models

@helper DisplayFieldsInSummaryList(IEnumerable<FormField> fields)
{
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        @foreach (var field in fields)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key dfe-summary-list__key--width-50">
                    @field.Title
                </dt>
                <dd class="govuk-summary-list__value dfe-summary-list__value--width-50">
                    @if (string.IsNullOrEmpty(field.Value))
                    {
                        <span class="dfe-empty-tag">Empty</span>
                    }
                    else
                    {
                        @field.Value
                    }
                </dd>
            </div>
        }
    </dl>
}
